<!DOCTYPE html>
<html>
  <head>
    <title>Configurar Gnomos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Configurações</h1>
    <a href="http://localhost:3000/gnomo/listar-gnomo" class="btn btn-success" style="margin-bottom: 10px;">Gnomos</a>
    <a href="http://localhost:3000/categoria/listar-categoria" class="btn btn-success" style="margin-bottom: 10px;">Categorias</a>
  </body>
</html>
