<!DOCTYPE html>
<html>
  <head>
    <title>Gnome of the Year</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('partials/header') %>
    <h1>Gnome of the Year</h1>
    <p>Welcome to Gnome of the Year</p>
    <a href="http://localhost:3000/config/config" class="btn btn-success" style="margin-bottom: 10px;">Configurações</a>
    <a href="http://localhost:3000/votos/listar-categorias" class="btn btn-success" style="margin-bottom: 10px;">Votar</a>
    <a href="http://localhost:3000/premiacao/" class="btn btn-success" style="margin-bottom: 10px;">Premiações</a>
  </body>
</html>
